<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>ScitecMovies</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav>
        <a href="/">Início</a>
        <a href="/filmes">Filmes</a>
        <a href="/contato">Contato</a>
    </nav>

    <div class="conteudo">
        <h1>Bem-vindo ao ScitecMovies</h1>
        <p>Este é um site de filmes para ter mais informações sobre os seus filmes favoritos.</p>
    </div>

</body>
</html>