<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <nav>
        <a href="/">Início</a>
        <a href="/filmes">Filmes </a>
        <a href="/contato">Contato</a>
    </nav>

    <div class="conteudo">
        <h1>Contato do Desenvolvedor</h1>
        <p><strong>Nome:</strong> Victor Cruz de Farias</p>
        <p><strong>E-mail:</strong> victorcruzdefarias@gmail.com</p>
    </div>

</body>
</html>