* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #ffffff;
    padding: 20px;
}


nav {
    background-color: #333;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    
}

nav a:hover {
    color: #ff4d4d;
    font-size: 18px;
}


.conteudo {
    background-color: #262626;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    
}

h1 {
    margin-bottom: 15px;
    color: #ff4d4d;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}


.botao {
    display: inline-block;
    background-color: #ff4d4d;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 7px;
    margin-top: 10px;
    font-size: 18px;
    
}

.botao:hover {
    background-color: #cc0000;
    font-size: 19px;
    color: rgb(214, 213, 213)
}